package {{ project.package_name }};

import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;

@SpringBootApplication
public class {{ project.application_class }} {

    public static void main(String[] args) {
        SpringApplication.run({{ project.application_class }}.class, args);
    }
}
