package {{ project.package_name }};

import org.junit.jupiter.api.Test;
import org.springframework.boot.test.context.SpringBootTest;
import org.springframework.test.context.ActiveProfiles;

@SpringBootTest
@ActiveProfiles("test")
class {{ project.application_class }}Tests {

    @Test
    void contextLoads() {
    }
}
