package {{ project.package_name }};

import org.junit.jupiter.api.Test;
import org.springframework.boot.test.context.SpringBootTest;

@SpringBootTest
class {{ project.application_class }}Tests {

    @Test
    void contextLoads() {
    }
}
